{% extends 'base.html.twig' %}

{% block title %}Hello MovieController!{% endblock %}

{% block body %}
    <h1>Liste des films</h1>

    {% for movie in movies %}
        <article>
            <h2>{{ movie.title }}</h2>
            <a href="{{ path('app_movies_show', {id: movie.id}) }}">Lire la suite</a>
        </article>
    {% endfor %}
    
{% endblock %}
